a {
    color: white;
    text-decoration: none;
}

/*main header*/
.mh {
    width: auto;
    height: 60px;
    overflow: hidden;
}
.mh .logo {
    height: 60px;
    float: left;
}
.mh #icon {
    height: 60px;
}
.mh #loggedIn{
    height: 60px;
    line-height: 90px;
    float: right;
    color: black;
}

/*main menu*/
.mm {
    width: auto;
    height: 42px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #547fb2;
}
.centernav {
    height: 42px;
    padding: 0 20px;
}
.menu {
    display: block;
    list-style: none;
    float: left;
}
.menu-item {
    line-height: 42px;
    display: block;
    height: 42px;
    padding: 0 10px;
    float: left;
}
.random {
    display: block;
    height: 42px;
    float: right;
}
.random #random-icon {
    height: 42px;
}

/*footer*/
.site-footer {
    height: 136px;
    overflow: hidden;
    background-color: #547fb2;
}
.footercopyright {
    height: 136px;
    padding: 0 20px;
}
.copyright {
    height: 96px;
    padding-top: 40px;
}
.footer-logo {
    height: 50px;
    float: left;
}
.footer-logo img {
    height: 50px;
}
.txt {
    float: left;
    font-size: 13px;
}
.txt p {
    font-size: 10.66px;
    margin-top: 5px;
}