* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c4dfff;
}

#content {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.wrapper {
    margin: 0 20px;
    position: relative;
}
.datebox {
    margin: 0px auto;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.datebox {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.datebox-days {
    display: flex;
    width: 100%;
}
.datebox-day-display {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.datebox-day-display-round {
    height: 3rem;
    width: 3rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(87, 123, 255);
    border: 1px solid rgb(87, 123, 255);
    color: white;
    font-weight: 700;
}
.datebox-table {
    margin-top: 2rem;
    display: flex;
}
.datebox-table-list {
    min-width: 0px;
    flex: 1 1 0%;
    padding: 1rem;
}
.datebox-table-content {
    display: block;
    position: relative;
    line-height: 1.5;
}
.datebox-table-content .thumbnail-wrapper {
    width: 100%;
    padding-top: 133.33%;
    position: relative;
}
.datebox-table-content .thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.datebox-table-content .title {
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    color: black;
}

@media screen and (max-width:768px) {
    .wrapper {
        margin: 0;
    }
    .datebox {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        padding: 0;
    }
    .datebox-days{
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .datebox-day-display {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex: initial;
    }
    .datebox-day-display-round {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background: rgb(6, 101, 208);
        border: 1px solid rgb(6, 101, 208);
        color: white;
        font-weight: 700;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .datebox-table {
        flex: 1 1 0%;
        min-width: 0px;
        margin: 0;
    }
    .datebox-table-list {
        min-width: 0px;
        display: none;
        padding: 0;
    }
    #sun-list {
        display: block;
    }
    .datebox-table-content {
        width: auto;
        display: flex;
        padding-bottom: 0.6rem;
    }
    .datebox-table-content .thumbnail-wrapper {
        display: block;
        width: 30%;
        padding-top: 30%;  
        margin-right: 0.5rem;
        position: relative;        
    }
    .datebox-table-content .thumbnail-wrapper img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .datebox-table-content .title {
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        font-weight: bold;
        overflow-wrap: break-word;
        font-size: 1rem;
    }
}