<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/login.css">
    <style>
        body {
            background-color: grey;
        }
    </style>
</head>
<body>
    <form class="box" id="loginForm">
        <input type="text" id="userID" placeholder="ID" />
        <input type="password" id="password" placeholder="Password" />
        <button type="submit" id="loginButton">login</button>
    </form>
</body>
    <script src="./js/login.js"></script>
    <script src="./js/cookieIO.js"></script>
</html>