<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/mainPage.css">
    <link rel="stylesheet" href="../CSS/base.css">
</head>
<body>
    <!--header 시작-->
    <header class="mh">
        <a href="/main" class="logo">
            <img src="../img/test.png" id="icon">
        </a>
        <a href="#" id="loggedIn">Logout</a>
    </header>
    <!--header 끝-->
    <!--nav 시작-->
    <nav id="main-menu" class="mm">
        <div class="centernav">
            <ul id="menu-menu" class="menu">
                <li id="menu-item-1" class="menu-item">
                    <a href="/main">
                        <span>요일별 애니</span>
                    </a>
                </li>
                <li id="menu-item-2" class="menu-item">
                    <a href="#">
                        <span>분기별 애니</span>
                    </a>
                </li>
                <li id="menu-item-3" class="menu-item">
                    <a href="/genre">
                        <span>장르</span>
                    </a>
                </li>
            </ul>
            <a href="#" class="random">
                <img src="../img/test.png" id="random-icon">
            </a>
        </div>
    </nav>
    <!--nav 끝-->
    <!--본문 시작-->
    <div id="content">
        <div class="wrapper">
            <div style="padding-top: 0px;">
                <div class="datebox">
                    <div class="datebox-days">
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('sun')" id="sun-circle">일</div>
                        </div>
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('mon')" id="mon-circle">월</div>
                        </div>
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('tue')" id="tue-circle">화</div>
                        </div>
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('wen')" id="wen-circle">수</div>
                        </div>
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('thu')" id="thu-circle">목</div>
                        </div>
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('fri')" id="fri-circle">금</div>
                        </div>
                        <div class="datebox-day-display">
                            <div class="datebox-day-display-round" onclick="dayClick('sat')" id="sat-circle">토</div>
                        </div>
                    </div>
                    <div class="datebox-table">
                        <div class="datebox-table-list" id="sun-list">
                        </div>
                        <div class="datebox-table-list" id="mon-list">
                        </div>
                        <div class="datebox-table-list" id="tue-list">
                        </div>
                        <div class="datebox-table-list" id="wen-list">
                        </div>
                        <div class="datebox-table-list" id="thu-list">
                        </div>
                        <div class="datebox-table-list" id="fri-list">
                        </div>
                        <div class="datebox-table-list" id="sat-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--본문 끝-->
    <!--footer 시작-->
    <footer class="site-footer">
        <div class="footercopyright">
            <div class="copyright">
                <div class="footer-logo">
                    <img src="../img/test.png">
                </div>
                <div class="txt">
                    <span>Copyright @ 2024 PoBiRi's Termporject</span>
                    <p>
                        Here is nothing. Go back to upsite.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->
</body>
<script src="../js/base.js"></script>
<script src="../js/mainPage.js"></script>
<script src="../js/cookieIO.js"></script>
</html>